h1{ 
			font-family:Cooper Black;
            }
			h2{
			}
			#list {
			margin :0 auto;
			display: table;
			text-align:left;
			font-size:18px;
			}
			body{
			background-color:red;}
			.bio{
			font-family:Berlin Sans FB Demi;
			font-size:20px;
			}
			h6{font-size:20px;
			}
			a{
			font-size:25px;
			font-family;David:}
            </style>